.idea/
target/
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log
dependency-reduced-pom.xml
/bin
*/bin
*.lnk
pom.xml.versionsBackup
.settings
**/.project
**/.classpath
**/.settings
.DS_Store
/.idea/
/tmpclient
/tmpclient.lock
